{% extends 'base.html.twig' %}

{% block title %}L'Entreprise!{% endblock %}

{% block body %}
    {# <h1>détaile de L'Entreprise!</h1> #}

    {# {{ entreprise.raisonSociale }} ({{ entreprise.cp }} {{ entreprise.ville }}) <br> #}
   {# <a href="{{ path('show_entreprise') }}"> {{ entreprise }} </a> #}
   {# <a href="{{ path('show_employe') }}"> {{ entreprise }} </a> #}

   {# {{dump(entreprise)}} #}

   <h1> {{ entreprise }} </h1>
   <p>
    Date de Création : {{ entreprise.dateCreation | date('d-m-Y') }} <br/>
    Addresse : {{ entreprise.fullAdresse }} 
    </p>

   <h2> List des employes </h2>
   {% if entreprise.employes | length == 0  %}
    <p>Pas d'employes dans cette entreprise</p>
   {% else %} 
    {% for employe in entreprise.employes %}
    <a href="{{path('show_employe',{'id' : employe.id })}}">{{employe}}</a><br>
    
    {% endfor %}
   {% endif %}
     

   <br>


{% endblock %}
