{% extends 'base.html.twig' %}

{% block title %}L'Entreprise!{% endblock %}

{% block body %}

    {# {{ entreprise.raisonSociale }} ({{ entreprise.cp }} {{ entreprise.ville }}) <br> #}
   {# <a href="{{ path('show_entreprise') }}"> {{ entreprise }} </a> #}
   {# <a href="{{ path('show_employe') }}"> {{ entreprise }} </a> #}
   <a href=""> {{ entreprise }} </a>
   <br>


{% endblock %}
