{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
<h1>List des employés </h1>
<a class="btn btn-primary" href="{{ path('add_employe') }}">Ajouter un employe </a><br>

{% for employe in employes %}
    {# {{ entreprise.raisonSociale }} ({{ entreprise.cp }} {{ entreprise.ville }}) <br> #}
    {# {{ employe }} <strong> travaille pour </strong> : {{employe.entreprise.raisonSociale  }}<br>    #}
    <a href="{{ path('show_employe', {'id':employe.id}) }}"> {{ employe }} </a>
    <a class="btn btn-warning" href="{{ path('edit_employe', {'id':employe.id}) }}"> Editer </a>

    <br/>

    {% endfor %}
{% endblock %}
