{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
<h1>List des employés </h1>
{% for employe in employes %}
    {# {{ entreprise.raisonSociale }} ({{ entreprise.cp }} {{ entreprise.ville }}) <br> #}
    {{ employe }} <strong> travaille pour </strong> : {{employe.entreprise.raisonSociale  }}<br>   
    {% endfor %}
{% endblock %}
