{% extends 'base.html.twig' %}

{% block title %}L'Employé!{% endblock %}

{% block body %}
    <h1>détaile de L'Employé!</h1>
    {# {{ entreprise.raisonSociale }} ({{ entreprise.cp }} {{ entreprise.ville }}) <br> #}
   {# <a href="{{ path('show_entreprise') }}"> {{ entreprise }} </a> #}
   {# <a href="{{ path('show_employe') }}"> {{ entreprise }} </a> #}
   <h2 > {{ employe }} </h2>
   <p> {{ employe.ville}}</p>
   <br>


{% endblock %}
